 <div class="user-details">
  <h1> Capabilities </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h3>Database</h3>
  
      <i class="devicon-mysql-plain"></i>
      <i class="devicon-mongodb-plain-wordmark"></i>
      <i class="simple-svg" data-icon="simple-icons:neo4j"></i>
  
      <p>Access to abd storage of data is paramount for analyzing data. My current toolbox includes experience in SQL, NoSQL (document stores), and Graph databases. Graph QL is a recent addition.</p>
    </div>
    <div class="tech">
      <h3>Code</h3>
 
      <i class="devicon-java-plain-wordmark"></i>
      <i class="devicon-c-plain"></i>
      <i class="devicon-php-plain"></i>
 
      <p>Core skills in any informatic scheme include being able to code.  After enrolling in Apple's Computers for Kids (BASIC, ca 1980), experience was gained in object oriented languages in support of analytic and algorithmic tasks.
      </p>
    </div>
    <div class="tech">
     <h3>Analytics</h3>
 
      <i class="icon ii ii-Rlogo ii-08x"></i>
      <i class="devicon-python-plain-wordmark"></i>
      <i class="devicon-d3js-plain"></i>
 
      <p>Analytic techniques require scripting ability and ways to visualize data. R and Python are the main recipies for data analytics and prototyping methods.  Javascript, D3.js, RStudio and Shiny are the canvas for presentation.</p>
    </div>

</div>
