<div class="user-details">
  <h1> Featured Projects </h1>
</div>



<div class="user-projects">
  <div>
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/QTOF.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> HMDB molecular network amalgamation  </h3>
   
    <p>Building of a graph database with Neo4J and MongoDB using Java, R, and D3.js.  Metabolic pathway relationships were built using SMPD with visualizations provided on the basis of chemical classifications. The tool is designed to extract sub-networks determined by expression data. </p>
    <a class="project-link" href="#">Check it out</a>
  </div>
  </div>
</div>



<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/metmatchLogo.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Rapid Lewis formula identification from static databases using isotopic distributions </h3>
    <p> Using theoretical isotope distrubutions of chemical formulae, we assembled a self correcting search algorithm via a global model method to improve accuracy and speed of molecular formula assignment </p>
    <a class="project-link" href="http://metmatch.org">Check it out</a>
  </div>
</div>



